<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.wentura.pomodoro">

    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:icon="@mipmap/ic_launcher"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <receiver android:name="com.wentura.pomodoro.NotificationButtonReceiver" />

        <activity
            android:name="com.wentura.pomodoro.MainActivity"
            android:configChanges="orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.wentura.pomodoro.settings.SettingsActivity"
            android:label="@string/settings"
            android:theme="@style/Theme.NoPreviewWindow"
            android:configChanges="orientation"
            android:parentActivityName="com.wentura.pomodoro.MainActivity" />

        <activity
            android:name="com.wentura.pomodoro.statistics.StatisticsActivity"
            android:label="@string/statistics"
            android:theme="@style/Theme.NoPreviewWindow"
            android:configChanges="orientation"
            android:parentActivityName="com.wentura.pomodoro.MainActivity" />

        <service android:name="com.wentura.pomodoro.NotificationService" />
        <service android:name="com.wentura.pomodoro.EndNotificationService" />
    </application>

</manifest>