<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (C) 2020 Adrian Miozga <AdrianMiozga@outlook.com>
  ~
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with this program. If not, see <https://www.gnu.org/licenses/>.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wentura.focus">

    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:icon="@mipmap/ic_launcher"
        android:fullBackupContent="@xml/backup_descriptor">
        <receiver android:name="com.wentura.focus.NotificationButtonReceiver" />

        <activity
            android:name="com.wentura.focus.MainActivity"
            android:configChanges="orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.wentura.focus.settings.SettingsActivity"
            android:label="@string/settings"
            android:theme="@style/Theme.NoPreviewWindow"
            android:configChanges="orientation"
            android:parentActivityName="com.wentura.focus.MainActivity" />

        <activity
            android:name="com.wentura.focus.statistics.StatisticsActivity"
            android:label="@string/statistics"
            android:theme="@style/Theme.NoPreviewWindow"
            android:configChanges="orientation"
            android:parentActivityName="com.wentura.focus.MainActivity" />

        <service android:name="com.wentura.focus.NotificationService" />
        <service android:name="com.wentura.focus.EndNotificationService" />
    </application>

</manifest>